:host {
  display: block;
}

.chat {
  &__window {
    height: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 57px;
  }

  &__profile {
    grid-row: span 2;
    display: flex;
    justify-content: center;
  }

  &__dialog {
    overflow-y: auto;
  }
}
