<panel class="chat">
  <section class="chat__window">
    <div class="chat__profile">
      <profile [tabId]="tabId"></profile>
    </div>
    <div class="chat__dialog">
      <app-dialog
        [dialog]="(dialog$ | async) ?? []"
        [tabId]="tabId"
        [typingTabsIds]="typingTabsIds"
      ></app-dialog>
    </div>
    <div class="chat__input">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-form-field class="example-form-field full-width">
          <input formControlName="message" matInput type="text">
          <button *ngIf="form.get('message')?.value" aria-label="post-message" mat-icon-button matSuffix
                  type="submit">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </section>
</panel>

