@import '../../../styles/vars';

$row-height: 60px;
$row-height-mobile: 40px;

:host {
  display: block;
  width: 60%;
}

.chat {
  &__window {
    height: 100%;
    display: grid;
    gap: $padding-s;
    grid-template-columns: $row-height 1fr;
    grid-template-rows: 1fr $row-height;
  }

  &__profile {
    grid-row: span 2;
    display: flex;
    justify-content: center;
  }

  &__dialog {
    overflow-y: auto;
  }

  &__form-field {
    width: 100%;
  }
}

@media (max-width: $mobile-screen) {
  :host {
    width: 90%;
  }

  .chat {
    &__window {
      grid-template-columns: 1fr;
      grid-template-rows: $row-height-mobile 1fr $row-height-mobile;
      gap: $padding-lg;
    }

    &__profile {
      grid-row: 1;
      display: flex;
      justify-content: end;
    }
  }

}
