@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'styles/components/entry.scss';
@import 'styles/vars';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
  background-color: $white;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  border-radius: $border-radius;
  -webkit-box-shadow: inset 0 0 6px rgb(34, 73, 175);
  background-color: #555;
}
