@import '../../../styles/vars';

:host {
  display: block;
}

.panel {
  box-shadow: -1px 0px 13px -3px rgba(34, 60, 80, 0.6);

  background-color: $white;
  border-radius: $border-radius;
  padding: $padding-m;
  height: 70vh;
  min-height: 400px;
  min-width: 350px;
}

@media (max-width: $mobile-screen) {
  .panel {
    height: 90vh;
  }
}
